// Base Colors
$color-base-black: #000000;
$color-base-dark-grey: #545454;
$color-base-grey-disable: #CCCCCC;
$color-base-light-grey: #F0F0F0;
$color-base-white: #FFFFFF;

// Primary Colors
$color-primary-green: #368046;
$color-primary-green-table: #55865F;
$color-primary-green-popup: #84DEBD;
$color-primary-green-disable: #BAD4C0;
$color-primary-green-data-table: #EFF7F1;

// Secondary Colors
$color-secondary-red: #B20000;
$color-secondary-red-compliment: #C43D3D;
$color-secondary-red-disable: #E5B0B1;
$color-secondary-orange: #F77300;
$color-secondary-blue: #1492E6;


$color-very-light-grey: #F8FBF9;
$color-light-red: #BBBBBB;
$color-secondary-light-blue: #99d6ff;

$color-form-disable: #e9ecef;
