@import "./color.scss";

.text-nowrap{
  white-space: nowrap;
}

.padding-bottom-2{
  padding-bottom: 2px;
}
.padding-bottom-3{
  padding-bottom: 3px;
}

.padding-right-3{
  padding-right: 3px;
}
.padding-left-3{
  padding-left: 3px;
}
.padding-left-8{
  padding-left: 8px;
}
.padding-right-20{
  padding-right: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-auto {
  margin: auto;
}
.margin-right-3{
  margin-right: 3px;
}

.svg-color-red {
  filter: invert(11%) sepia(72%) saturate(7471%) hue-rotate(8deg) brightness(77%) contrast(114%);
}

.font-weight-500 {
  font-weight: 500;
}

