
@import './color.scss';

.input-display-text{
    background-color: $color-base-light-grey;
    color: $color-base-dark-grey  ;
    &[disabled], &[readonly]  {
      background-color: $color-base-light-grey;
    }
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

.image-icon{
  height: 32px;
}


input.disable-arrows::-webkit-outer-spin-button,
input.disable-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number].disable-arrows {
  -moz-appearance: textfield;
}