<div>
  <header class="main-header-bar">
    Logo
  </header>
  <div class="main-wrapper" [ngClass]="{ 'main-wrapper--navigation-open': mainNavigationOpened }">
    <nav class="main-navigation">
      <asm-angular-sidebar-menu
        [menu]="menu"
        [mode]="sidebarMode"
        [unAuthorizedVisibility]="visibility"
        [role]="currentRole"
        [search]="currentSearch"
        toggleIconClasses="fa fa-angle-left"
        iconClasses="fa fa-circle-o"
      >
      </asm-angular-sidebar-menu>
    </nav>
    <header class="main-header">
      <i class="sidebar-toggle fa fa-bars" (click)="mainNavigationOpened = !mainNavigationOpened"></i>
      <app-breadcrumb [items]="[{ name: 'menu1' },{ name: 'sub-menu', path:'#' },{ name: 'submenu2', path:'#' }]"></app-breadcrumb>
    </header>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
